body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: black;
  color: #e7e9ea;
}

input:focus ~ .holder {
  @apply text-white transition-all -translate-y-4
   text-sm;
}

input:valid ~ .holder {
  @apply transform -translate-y-4
   text-sm;
}

/* input:placeholder-shown ~ .holder {
  @apply bg-black;
} */
